# Python

**pycache**/
*.py[cod]
*.so

# Virtual environments

venv/
.env

# macOS

.DS_Store

# Jupyter

.ipynb_checkpoints/

# IDE

.vscode/
.idea/

# Logs

*.log

# Build files

build/
dist/
*.egg-info/

# Python cache

.pytest_cache/

# Temporary files

*.tmp
*.bak
